
head
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')
  link(rel="stylesheet", href="../../stylesheets/login.css")
  

body#LoginForm
  .container
    .login-form
      .main-div
        .panel
          if info && info.message
            div.alert.alert-danger
              = info.message
          h2 Admin Login
          p Por favor, ingrese su email y contraseña
        form#Login(action="/login" method='post')
          .form-group
            input#username.form-control(type="email" placeholder='Email Addres' name='email')
          .form-group
            input#password.form-control(type="password" placeholder='Password' name='password' )
          .forgot
            a(href="/forgotPassword") Olvidé mi password
          
          button.btn.btn-primary(type='submit') Login
        
        a.btn.btn-secondary(href="/usuarios/index")  Register