
head
  link(rel="stylesheet", href="../../stylesheet/login.css")

body#LoginForm
  .container
    .login-form
      .main-dev
        .panel
          if info && info.message
            div.alert.alert-danger
              = info.message
          h2 Cambio de password
          p Por favor, ingrese su clave
        form#Login(action="/resetPassword" method='post')
          input#email(type='hidden' name='email' value= user.email)
          .form-group
            label(for='pwd') Password:
            input#pwd.form-control(type='password' name='password' class= errors.password ? 'is-invalid': '')
            if errors.password
              samll#passwordHelp.text-danger
                = errors.password.message
          .form-group
            label(for='confirm_pwd') Confirmar password:
            input#confirm_pwd.form-control(type='confirm_password' name='confirm_password' class= errors.confirm_password ? 'is-invalid': '')
            if errors.confirm_password
              samll#confirm_passwordHelp.text-danger
                = errors.confirm_password.message
          button.btn.btn-primary(type='submit') Login